extends layout

block content
    h1.center= title
    div
        a(href="/") HOME
    div

        table(width="100%")
            tbody
                thead
                    th
                        p NAME
                    th
                        p CATEGORY CODE
                    th
                        p LINK
                    th
                        p IMAGE
                tbody
                    tbody
                        each category in categories
                            tr.center.border
                                td.center.border=category.title_fa
                                td.center.border=category.code
                                td.center.border
                                    a(href="https://digikala.com/" + category.url.uri) Click here
                                td.center.border
                                    div
                                        img.img.small(src= category.logo.url[0])