doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  footer.center.border
    p under MIT licence
    p
      a(href="https://github.com/MohammadMojtabaRoshani-TOMaaR") Github & Contact
